.Movie {
    width: 400px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Movie:hover,
.Movie:active {
    background-color: #C0DDF5;
}